<h1><b>Voici l'auteur</b></h1>
<hr />

<h1>
  <div>
    <br>Son Prenom : <%= @auteur.first_name%></br>
    <br>Son Nom : <%= @auteur.last_name%></br>
    <br>Son Email : <%= @auteur.email%></br>
    <br>Son Age : <%= @auteur.age%></br>
  </div>
</h1>
