<h1><b>Voici le Gossip</b></h1>


<h1>
  <div>
    <br>Le titre du gossip : <%= @gossip.title%></br>
    <br>Le gossip : <b><%= @gossip.content %></b><br/>
    <hr />
    <br>La date de creation: <%= @gossip.created_at%></br>
  </div>
</h1>