<h1>Bienvenue sur la page de la team !</h1>

<h1>Elle est composee de Gerard GOACHET et Lauren OLIVIER</h1>

<h1>Merci d'etre venus :)</h1>

					<pre>  						__
					 __   (__`\
					(__`\   \\`\
					 `\\`\   \\ \
					   `\\`\  \\ \
					     `\\`\#\\ \#
					       \_ ##\_ |##
					       (___)(___)##
					        (0)  (0)`\##
					         |~   ~ , \##
					         |      |  \##
					         |     /\   \##         __..---'''''-.._.._
					         |     | \   `\##  _.--'                _  `.
					         Y     |  \    `##'                     \`\  \
					        /      |   \                             | `\ \
					       /_...___|    \                            |   `\\
					      /        `.    |                          /      ##
					     |          |    |                         /      ####
					     |          |    |                        /       ####
					     | () ()    |     \     |          |  _.-'         ##
					     `.        .'      `._. |______..| |-'|
					       `------'           | | | |    | || |
					                          | | | |    | || |
					                          | | | |    | || |
					                          | | | |    | || |     
					                    _____ | | | |____| || |
					                   /     `` |-`/     ` |` |
					                   \________\__\_______\__\
					                    """""""""   """""""'"""
					  </pre>
